
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    
    img {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.hero {
    background: url('../assets/hero-mobile.png') no-repeat center center;
    background-size: cover;
    height: 600px;

    .hero-text {
        text-align: center;
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 180px;
        padding: 4px;

        h1 {
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 38px;
        }
        @media (min-width: 768px) {
            h1 {
                font-size: 44px
            }
        }

        p {
            font-size: 14px;
        }
        @media (min-width: 768px) {
            p {
                font-size: 16px
            }
        }

        .hero-cta {
            border: 1px solid #5a6f9f;
            background-color: #5a6f9f;
            text-transform: uppercase;
            color: #FFF;
            width: 180px;
            height: 40px;
            font-size: 12px;
            border-radius: 4px;
            transition: .3s;

            &:hover {
                background-color: #FFF;
                color: #5a6f9f;
            }
        }
    }
}
@media (min-width: 768px) {
    .hero {
        background: url('../assets/hero-image.png') no-repeat center center;
        background-size: cover;
        height: 850px;    

        .hero-text {
            width: 300px;
            text-align: left;
            margin-left: 10%;
            margin-top: 120px;
        }
    }
}

.three-col-container {
    text-align: center;
    padding-top: 40px;
    height: 400px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

    .heading {
        margin: 0 auto;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .tiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .tile {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 360px;
            max-width: 100%;
            height: 260px;
            background-color: #f0efec;
            margin: 10px;
            border-radius: 12px;

            .content {
                img {
                    width: 50px;
                    height: 50px;
                }

                .tile-text {
                    margin-top: 2px;
                }
            }
        }
        
    }
    @media (min-width: 768px) {
        .tiles {
            justify-content: space-between;  
            flex-direction: row;      
        }    
    }
}

