
.container {
    margin: 0;
  padding: 0;
  

  display: flex; /* Ensure flexbox layout */
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Full viewport height */
}

.hero {
    
    
    position: relative;
    width: 100%;
    flex-grow: 1; /* Fills the remaining vertical space */
  
    display: flex; /* Optional: Center content inside */
    align-items: center;
    justify-content: center;
  
    background: url('../assets/hero-image.png') no-repeat center center;
    background-size: cover; /* Cover the container while keeping proportions */
    max-height: 650px;
}

.page-content {
    position: relative;
    z-index: 2; /* Ensures it appears above the background */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add semi-transparent background */
    border-radius: 8px; /* Optional: Rounded corners */
    max-width: 800px; /* Limit the width of the content */
    margin: auto;
    text-align: center;
  }